In [1]:
%load_ext autoreload
%autoreload 2

# MTBO Reizman Study

In [2]:
from summit.strategies import MTBO, Transform
from summit.benchmarks import ReizmanSuzukiEmulator
from summit.utils.dataset import DataSet
from summit.domain import *
import summit
import pathlib
import pandas as pd

## Create DataSet

In [3]:
# Path to data
summit_path = pathlib.Path(summit.__file__).parents[0]
data_path = summit_path / "benchmarks" / "experiment_emulator" / "data"

In [4]:
# Import Reizman-Suzuki Data
datasets = [DataSet.read_csv(data_path / f"reizman_suzuki_case{i}_train_test.csv") for i in range(1,5)]
for i, dataset in enumerate(datasets):
    dataset[('task', 'METADATA')] = i
datasets[0].head(5)

NAME catalyst t_res temperature catalyst_loading  ton yield     task
TYPE     DATA  DATA        DATA             DATA DATA  DATA METADATA
0       P1-L3   600          30            0.498  1.1   0.6        0
1       P1-L6   600          30            2.515  0.2   0.6        0
2       P1-L4    60          30            2.508  0.2   0.6        0
3       P1-L1    60          30            0.513  1.1   0.6        0
4       P1-L2   600          30            2.513  0.2   0.6        0

In [6]:
exp = ReizmanSuzukiEmulator()

In [11]:
domain = Domain()
domain += CategoricalVariable('base', 'Organic Base', levels=['DBU', 'BMTG', 'TEA'])
domain += ContinuousVariable('yield', '', bounds=[0,100], is_objective=True)
transform = Transform(domain)
X = DataSet([['DBU', 20], ['BMTG', 30], ['BMTG', 40], ['TEA', 10]], columns=['base', 'yield'])
inputs, outputs = transform.transform_inputs_outputs(X, categorical_method='one-hot')